/*

 styling for form event

.formSection{
  display:flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height : 50vh; 
}

.inputDiv input{
    width : 20rem;
    height : 2rem;

}

.submitBtn{
  padding : 5px;
  margin-top: 15px;
  border-radius: 5px;
}
.formSection h1{
  color : white;
} */

.empForm{
  display:flex;
  align-items: center;
  justify-content: center;
}
.Section{
  background : black;
  padding : 20px;
  color : white;
  width : 30vw;
  
}
button{
  background-color: blue;
  padding : 10px;
  margin : 10px 0;
}
input {
  margin:10px 0;
}